<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@100;200;300;400;500;600;700;800;900&family=Lato:wght@300;400;700;900&family=Noto+Sans&family=Open+Sans:ital,wght@0,600;0,700;1,300;1,400&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:wght@300;400;500;600;900&family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" referrerpolicy="no-referrer">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="css/style.css">
    <title>Boolzapp</title>
    
</head>

<body>

    <div id="app">
        <div class="container border h-100">
            <div class="row h-100 flex-nowrap">
                <div class="col-12 px-0 col-md-4 contacts">
                    <div class="px-2 bg-beige d-flex align-items-center h-header justify-content-between">
                        <div class="d-flex align-items-center">
                            <div class="card-image rounded-circle overflow-hidden avatar">
                                <img src="img/avatar_io.jpg" alt="me">
                            </div>
                            <span class="ms-2">Sofia</span>
                        </div>
                        <div class="icons">
                            <i class="fa-solid fa-circle-notch me-3"></i>
                            <i class="fa-solid fa-message me-3"></i>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </div>
                    </div>
                    <div class="px-2 notification d-flex align-items-center">
                        <div class="bg-white rounded-circle overflow-hidden d-flex justify-content-center align-items-center">
                            <i class="fa-solid fa-bell-slash" style="color: #8edafc;"></i>
                        </div>
                        <span class="ms-2 d-flex flex-column align-content-center">
                            <div>Ricevi notifiche di nuovi messaggi</div>
                            <a href="#">Attiva notifica desktop</a>
                        </span>
                    </div>
                    <!-- search -->
                    <div class="p-2 bg-beige d-flex align-items-center input-group" id="search" >
                        <span class="input-group-text"><i class="fa-solid fa-magnifying-glass"></i></span>
                        <input type="text" name="search" class="form-control" placeholder="Search contacts">
                    </div>
                    <!-- lista contatti -->
                    <div class="d-flex flex-grow-1 overflow-y-auto contattiEl overflow-x-hidden">
                        <div class="row">
                            <div class="col-12 py-2 contact d-flex justify-content-between align-content-center align-items-center" :class="{'active': index === activeContactIndex}" v-for="(contact, index) in contacts" :key="contact.id" @click="selectContact(contact.id)">
                                <div class="d-flex">
                                    <img :src="contact.avatar" :alt="contact.name" class="avatar ms-2">
                                    <div class="ms-2">
                                        <strong>{{contact.name}}</strong><br>
                                        <small>{{getLastMessage(contact.id)}}</small>
                                    </div>
                                </div>
                            <div class="w-25 mx-1 text-end">
                                <small>{{getLastAccess(contact.id)}}</small>
                            </div>
                            </div>
                    </div>
                </div>
            </div>
                <div class="col-12 px-0 col-md-8 border-start">
                    <div class="px-2 bg-beige d-flex align-items-center h-header justify-content-between">
                        <div class="d-flex">
                            <img :src="contacts[activeContactIndex].avatar" :alt="contacts[activeContactIndex].name" class="avatar m-2">
                            <div class="m-2">
                                <strong>{{activeContact.name}}</strong><br>
                                    <small>Ultimo accesso {{contacts[activeContactIndex].messages[contacts[activeContactIndex].messages.length -1].date}}</small>
                            </div>
                        </div>
                        <div class="icons">
                            <i class="fa-solid fa-arrow-left me-3" style="cursor: pointer;"></i>
                            <i class="fa-solid fa-magnifying-glass me-3" style="cursor: pointer;"></i>
                            <i class="fa-solid fa-link me-3" style="cursor: pointer;"></i>
                            <i class="fa-solid fa-ellipsis-vertical" style="cursor: pointer;"></i>
                        </div>
                    </div>
                    <!-- chat -->
                    <div class="col-12 overflow-y-auto flex-grow-1 chat">
                        <div class="d-flex py-3" v-for="(msg, index) in activeContact.messages" :key="index">
                            <div class="msg" :class="msg.status">{{msg.message}}</div>
                        </div>
                    </div>
                    <!-- scrivi qui -->
                    <div class="px-2 bg-beige d-flex align-items-center h-header">
                        <i class="fa-regular fa-face-smile me-3" style="cursor: pointer;"></i>
                        <input type="text" class="form-control me-3" placeholder="Send a message" v-model="message" @keyup.enter="newMessage()">
                        <i class="fa-regular fa-paper-plane" style="cursor: pointer;" @click="newMessage()"></i>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/luxon@3.4.3/build/global/luxon.min.js"></script>
    <script src='https://unpkg.com/vue@3/dist/vue.global.js'></script>
    <script src="js/script.js" type="module"></script>
</body>

</html>